body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 20px;

    background-color: #222831;
}

h1{
    margin: 5px;
}

.stats{
    display: flex;
    margin-top: 30px;

    color: #FFFFD2;
}

.col{
    margin: 1px 20px;
    border: 5px solid #3E4149;
    background-color: #222831;
} 

#start-game{
    background-color: #222831;
    color: #FFFFD2;
    border: 2px solid #3E4149;
    padding: 5px 10px;
    font-size: 30px;
    box-sizing: border-box;
    transition: 0.5s;
}

#start-game:hover{
    background-color: #ffffd297;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
    gap: 10px;

}

.square{
    border: 4px solid #3E4149;
    padding: 2px;
    background-image: url(images/white.jpg);
    background-size: cover;
}

.mole{
    background-image: url(images/mole2.jpg);
}

.back{
    background-color: #222831;
    color: #FFFFD2;
    border: 1px solid #3E4149;
    font-size: 30px;

    padding: 5px 10px;

    position: absolute;
    top: 10px;
    left: 20px;

    text-decoration: none;
    transition: 0.5s;
}

.back:hover{
    background-color: #ffffd26f;
}

.back > a{
    text-decoration: none;
    color: #FFFFD2;
}

